*{
   margin: 0;
   padding: 0;
}
body{
   background-color: rgb(118, 100, 134);
   width: 100%;
   height: 100vh;
}
nav{
   display: flex;
   align-content: center;
   justify-content: space-between;
   padding-top: 20px;
   padding-left: 5%;
   padding-right: 5%;
   font-weight: bold;
}
h1{
   color: white;
   font-size: 45px;
}
ul li{
   display: inline-block;
   padding: 0px 20px;
}
a{
   color:white;
   text-decoration: none;
}
a:hover{
   color: black;
}
h3 {
   font-weight: bold;
   color: white;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 span{
   font-weight: bold;
   font-size: 20px;
   color: white;
   border-style: inset;
   margin: 20px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 